.App {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  background-color: green;
}

.ocean {
  background-color: pink;
}

.button {
  background-color: purple;
}

.fishie {
  background-color: blue;
}

.darlaFight {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: green;
}


